In [13]:
people = {
    "first": ['Victor', 'Cynthia', 'Eugene'],
    "second": ['Kituku', 'Kituku','Kituku'],
    "email": ['vkituku@gmail.com', 'Ckituku@gmail.com', 'Ekituku@gmail.com']
}

import pandas as pd
df = pd.DataFrame(people)
type(df['email'])
df.email

# type(df)

0    vkituku@gmail.com
1    Ckituku@gmail.com
2    Ekituku@gmail.com
Name: email, dtype: object

In [14]:
#Access select columns
df[['first', 'email']]

     first              email
0   Victor  vkituku@gmail.com
1  Cynthia  Ckituku@gmail.com
2   Eugene  Ekituku@gmail.com

In [17]:
#loc and iloc for getting rows in pandas
#iloc uses integer/indexes

df.iloc[[0,1], [1,2]]

   second              email
0  Kituku  vkituku@gmail.com
1  Kituku  Ckituku@gmail.com

In [28]:
#loc uses labels
df.loc[[0,1],['email','first']]

               email    first
0  vkituku@gmail.com   Victor
1  Ckituku@gmail.com  Cynthia